* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

html {
    font-size: 62.5%;
}

:root {
    --bg-orange: #F94616;
    --white: #fff;
    --light-grey: #F9FBFD;
    --green-light: #d4ffdd;

    --text-xs: 12px;
    --text-sm: 16px;
    --text-md: 20px;
    --text-lg: 28px;
    --text-xl: 40px;
    --text-2xl: 64px;
}

.text--xs {
    font-size: var(--text-xs);
}

.text--sm {
    font-size: var(--text-sm);
}

.text--md {
    font-size: var(--text-md);
}

.text--lg {
    font-size: var(--text-lg);
}

.text--xl {
    font-size: var(--text-xl);
}

.bg--orange {
    background-color: var(--bg-orange);
}

.bg--white {
    background-color: var(--white);
}

.bg--lightGrey {
    background-color: var(--light-grey);
}

.bg--greenLight {
    background-color: var(--green-light);
}

.minh--100vh {
    min-height: 100vh;
}

.w--fit {
    width: fit-content;
}

.a--white {
    color: var(--white);
    text-decoration: none;
}

.a--white:hover {
    color: #ffffff98;
    text-decoration: none;
    cursor: pointer;
}

.btn--orange {
    background-color: var(--bg-orange);
    color: var(--white);
    border: none;
    border-radius: 4px;
    font-size: var(--text-sm);
    cursor: pointer;
}

.btn--orange:hover {
    background-color: #f9461698;
    color: var(--white);
}

.btn--orange-text {
    color: var(--bg-orange);
    border: 1px solid transparent;
    border-radius: 4px;
    font-size: var(--text-sm);
    cursor: pointer;
}

.btn--orange-text:hover {
    color: #f9461698;
}

.grid--4cols {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 1rem;
}

.grid--5cols {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 1rem;
}

@media (max-width: 992px) {
    .grid--4cols {
        grid-template-columns: repeat(2, 1fr);
    }

    .grid--5cols {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 768px) {
    .grid--4cols {
        grid-template-columns: 1fr;
    }

    .grid--5cols {
        grid-template-columns: 1fr;
    }
}
