#dashboard {
    display: grid;
    grid-template-columns: 3fr 9fr;
}

#asideMenu.active {
    display: block;
}

#asideMenu {
    height: 100vh;
}

#asideMenu li {
    width: 100%;
    transition: all 0.3s ease-in-out;
    padding: 8px 12px;
}

#asideMenu li.active {
    background-color: #f8f9fa13;
    border-left: 4px solid #fff;
}

#asideMenu li:hover {
    background-color: #f8f9fa13;
    border-left: 4px solid #fff;
    transition: all 0.1s ease-in-out;
}

.searchItem {
    border: none;
    background-color: var(--light-grey);
    border-radius: 4px;
    padding: 8px 8px;
    margin: 12px;
}

.input--item {
    display: flex;
    flex-direction: column;
    margin: 12px 0;
}

.input--item label {
    font-size: var(--text-xs);
    margin-bottom: 4px;
}

.input--grey {
    border: none;
    background-color: var(--light-grey);
    border-radius: 4px;
    padding: 8px 8px;
    transition: all 0.4s ease-in-out;
}

.input--grey:focus {
    outline: none;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    transition: all 0.3s ease-in-out;
}

@media (max-width: 768px) {
    #dashboard {
        display: block;
    }
    #asideMenu {
        height: auto;
        display: none;
    }
    

    .input--item {
        margin: 4px 0;
    }
}